# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
astropy=4.3.1=pypi_0
attrs=21.4.0=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.11.1=pypi_0
binutils_impl_linux-64=2.35.1=h27ae35d_9
binutils_linux-64=2.35.1=h454624a_30
bleach=5.0.0=pypi_0
ca-certificates=2021.10.8=ha878542_0
cached-property=1.5.2=pypi_0
camb=1.3.2=py37h4536401_0
certifi=2021.10.8=py37h89c1867_1
cffi=1.15.0=pypi_0
charset-normalizer=2.0.11=pypi_0
cobaya=3.1.1=pypi_0
cycler=0.11.0=pypi_0
cython=0.29.27=pypi_0
debugpy=1.6.0=pypi_0
decorator=5.1.1=pypi_0
defusedxml=0.7.1=pypi_0
dill=0.3.4=pypi_0
entrypoints=0.4=pypi_0
fastjsonschema=2.15.3=pypi_0
fonttools=4.29.1=pypi_0
fuzzywuzzy=0.18.0=pypi_0
gcc_impl_linux-64=9.3.0=h6df7d76_17
gcc_linux-64=9.3.0=h1ee779e_30
getdist=1.3.3=pypi_0
gfortran_impl_linux-64=9.3.0=h5abd6ed_17
gfortran_linux-64=9.3.0=hf47db2c_30
h5py=3.6.0=pypi_0
idna=3.3=pypi_0
iminuit=2.9.0=pypi_0
importlib-metadata=4.10.1=pypi_0
importlib-resources=5.7.1=pypi_0
ipykernel=6.13.0=pypi_0
ipython=7.33.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.7.0=pypi_0
jedi=0.18.1=pypi_0
jinja2=3.1.2=pypi_0
jsonschema=4.5.1=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=7.3.1=pypi_0
jupyter-console=6.4.3=pypi_0
jupyter-core=4.10.0=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-widgets=1.1.0=pypi_0
kernel-headers_linux-64=2.6.32=he073ed8_15
kiwisolver=1.3.2=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libblas=3.9.0=11_linux64_openblas
libcblas=3.9.0=11_linux64_openblas
libffi=3.3=he6710b0_2
libgcc-devel_linux-64=9.3.0=hb95220a_17
libgcc-ng=9.3.0=h5101ec6_17
libgfortran-ng=9.3.0=ha5ec8a7_17
libgfortran5=9.3.0=ha5ec8a7_17
libgomp=9.3.0=h5101ec6_17
liblapack=3.9.0=11_linux64_openblas
libopenblas=0.3.17=pthreads_h8fe5266_1
libstdcxx-ng=9.3.0=hd4cf53a_17
llvmlite=0.38.0=pypi_0
markupsafe=2.1.1=pypi_0
matplotlib=3.5.1=pypi_0
matplotlib-inline=0.1.3=pypi_0
mcfit=0.0.17=pypi_0
mistune=0.8.4=pypi_0
mock=4.0.3=py37h89c1867_2
mpi=1.0=mpich
mpi4py=3.0.3=py37hf046da1_1
mpich=3.3.2=external_0
mpmath=1.2.1=pyhd8ed1ab_0
nbclient=0.6.3=pypi_0
nbconvert=6.5.0=pypi_0
nbformat=5.4.0=pypi_0
ncurses=6.3=h7f8727e_2
nest-asyncio=1.5.5=pypi_0
notebook=6.4.11=pypi_0
numba=0.55.1=pypi_0
numpy=1.21.5=pypi_0
openssl=1.1.1m=h7f8727e_0
packaging=21.3=pypi_0
pandas=1.3.5=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=9.0.1=pypi_0
pip=21.2.2=py37h06a4308_0
portalocker=2.3.2=pypi_0
prometheus-client=0.14.1=pypi_0
prompt-toolkit=3.0.29=pypi_0
psutil=5.9.0=pypi_0
ptyprocess=0.7.0=pypi_0
py-bobyqa=1.3=pypi_0
pycparser=2.21=pypi_0
pyerfa=2.0.0.1=pypi_0
pygments=2.12.0=pypi_0
pyparsing=3.0.7=pypi_0
pyrsistent=0.18.1=pypi_0
python=3.7.11=h12debd9_0
python-dateutil=2.8.2=pypi_0
python_abi=3.7=2_cp37m
pytz=2021.3=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=pypi_0
qtconsole=5.3.0=pypi_0
qtpy=2.1.0=pypi_0
readline=8.1.2=h7f8727e_1
requests=2.27.1=pypi_0
scipy=1.7.3=pypi_0
send2trash=1.8.0=pypi_0
setuptools=58.0.4=py37h06a4308_0
six=1.16.0=pyh6c4a22f_0
soupsieve=2.3.2.post1=pypi_0
sqlite=3.37.2=hc218d9a_0
sympy=1.9=pypi_0
sysroot_linux-64=2.12=he073ed8_15
terminado=0.13.3=pypi_0
tinycss2=1.1.1=pypi_0
tk=8.6.11=h1ccaba5_0
tornado=6.1=pypi_0
tqdm=4.62.3=pypi_0
traitlets=5.2.0=pypi_0
typing-extensions=4.0.1=pypi_0
urllib3=1.26.8=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
widgetsnbextension=3.6.0=pypi_0
xz=5.2.5=h7b6447c_0
zipp=3.7.0=pypi_0
zlib=1.2.11=h7f8727e_4
